@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Raleway&display=swap');

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.mug {
  margin-top: 150px;
  width: 350px;
  height: 300px;
  border-radius: 20px 20px 100px 100px;
  border: 8px #fff solid;
  position: relative;
  z-index: 1;
  display: flex;
  transition: .8s;
}

.handle {
  width: 112px;
  height: 200px;
  position: relative;
  left: 240px;
  bottom: 300px;
  border-radius: 0 50px 160px 0;
  border: 8px solid white;
}

.mug__inner {
  overflow: hidden;
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;
  border-radius: 20px 20px 90px 90px;
  position: relative;
  z-index: -1;
}

.options {
  position: relative;
  bottom: 200px;
}

.types {
  width: 100%;
  /* height: 0; */
  /* opacity: 0; */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: .6s ease-in-out;
  will-change: height;
}

.espresso {
  background: #231709;
  color: #fff;
}

.water {
  background: #d1f7f6;
  color: #71b7ae;
}

.milk {
  background: #DCD0BA;
  color: #776558;
}

.foam {
  background: #fff;
  color: #716969;
}

.chocolate {
  background: #65350F;
  color: #fff;
}

.typeOfCoffee {
  width: 300px;
  margin-top: 40px;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
  transition: .4s ease-in-out;
}
