body {
  background-image: url(http://clipart-library.com/images/kiKorypqT.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Raleway&display=swap');

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
  "menu . ."
  "drinks image";
  padding-right: 270px;
}


.menu {
  grid-area: menu;
  line-height: 0px;
  max-height: 280px;
  line-height: 20px;
  padding-left: 100px;
}

.textbox {
  display: flex;
  justify-content: center;
  width: 600px;
  padding-left: 50px;
  height: 230px;
}

.text {
  width: 600px;
  position: relative;
  bottom: 95px;
}

.drinks {
  padding-top: 75px;
  grid-area: drinks;
  margin-left: 20%;
  margin-top: 250px;
  font-size: 20px;
  line-height: 40px;
  letter-spacing: 4px;
  width: 300px;
}

.image {
  grid-area: image;
  display: block;
  margin-left: 400px;
  /* max-width: 10px; */
  padding-top: 50px;
  padding-left: 80px;
  }

.image img {
  max-height: 400px;
  padding-top: 180px;
}

.menu .headbox img {
  max-height: 200px;
}

.menu p {
  padding-left: 90px;
}

.menu p > img {
  height: 800px;
  width: 600px;
}

/* h1 {
  font-size: 135px;
  color: #d100d1;
  font-family: 'Bree Serif', sans-serif;
  font-weight: bold;
} */

a {
  color: white;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  display: block;
}
