body {
  background-image: url(http://clipart-library.com/images/kiKorypqT.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Raleway&display=swap');

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
  "menu . ."
  "drinks image";
  padding-right: 270px;
}

.menu {
  grid-area: menu;
  line-height: 0px;
  max-height: 250px;
  line-height: 20px;
}

.drinks {
  padding-top: 70px;
  grid-area: drinks;
  margin-left: 20%;
  margin-top: 250px;
  font-size: 20px;
  line-height: 40px;
  letter-spacing: 4px;
  width: 300px;
}

.image {
  grid-area: image;
  display: block;
  margin-left: 400px;
  /* max-width: 10px; */
  padding-top: 85px;
  padding-left: 90px;

  }

.image img {
  max-height: 400px;
  padding-top: 180px;
}

.menu img {
  max-height: 200px;
}



.menu p {
  padding-left: 65px;
}

/* h1 {
  font-size: 135px;
  color: #d100d1;
  font-family: 'Bree Serif', sans-serif;
  font-weight: bold;
} */

p {
  color: #d100d1;
  font-family: 'Raleway', sans-serif;
  font-weight: bolder;
}

a {
  color: white;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  display: block;
}
