.container {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   grid-template-rows: 1fr 1fr 1fr;
   grid-template-areas:
      "menu . nav nav"
      "box1 box2 box3 feed"
      "primary primary primary feed";
   min-height: 100vh;
   row-gap: 10px;
   column-gap: 10px;
}

.menu1, .menu2, .card1, .card2, .card3, .main, .aside {
  border: solid 1px #000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu1 {grid-area: menu;
  background: pink;
}

.menu2 {grid-area: nav;
  background: blue;
}

.card1 {grid-area: box1;
  background: yellow;
}

.card2 {grid-area: box2;
  background: red;
}

.card3 {grid-area: box3;
  background: purple;
}

.main {grid-area: primary;
  background: green;
}

.aside {grid-area: feed;
  background: orange;
}

/* tablet view */
@media (max-width: 1024px) {
  .container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2fr 3fr 10fr 7fr 7fr;
  grid-template-areas:
     "menu nav"
     "feed feed"
     "box1 box2"
     "box3 box3"
     "primary primary";
  min-height: 100vh;
  row-gap: 10px;
  column-gap: 10px;
  }
}

/* mobile view */
@media (max-width: 700px) {
  .container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2fr 3fr 10fr 7fr 7fr 7fr;
  grid-template-areas:
     "menu ."
     "nav nav"
     "box 1 box1"
     "box2 box2"
     "box3 box3"
     "primary primary";
  min-height: 100vh;
  row-gap: 10px;
  column-gap: 10px;
  }
  .aside{
    display: none;
  }
}
